{% extends 'base.html' %}

{% block main_content %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..//static/images/help.jpg" class="img-fluid rounded-start" alt="Упс!">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Что-то пошло не так!</h5>
                <p class="card-text">По всем вопросам звоните: 8(800)123-45-67</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}